/* Product Form Styles */
.product-options-item {
  transition: all 0.2s ease;
  cursor: pointer;
}

.product-options-item--selected {
  border: 1px solid black !important;
}

.product-options-item--unselected {
  border: 1px solid transparent;
}

.product-options-item--available {
  opacity: 1;
}

.product-options-item--unavailable {
  opacity: 0.3;
  cursor: not-allowed;
}

.product-options-item.link {
  text-decoration: none;
  color: inherit;
}